// Here you can add other styles

.app-logo {
    float: left;
    line-height: .8;
    max-height: 34px;
    width: auto;
    margin-left: .8rem;
    margin-right: .5rem;
    margin-top: -3px;
    border-radius: 50em;
}

.sidebar-brand {
    justify-content: flex-start;
}

.form-error-message {
    color: red;
}

.hidden-field {
    display: none;
}
